$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Closest font to Avenir
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

@import "helpers";
@import "variables";

@import "header";
@import "footer";
@import "general";
@import "sections";

/* responsive */
@import "responsive";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
